/* Note.css */

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.note-container {
    cursor: pointer;
    margin-bottom: 15px;
    transition: background-color 0.3s ease;
    animation: fadeIn 0.3s ease-out;
}

.note-container.completed p {
    text-decoration: line-through;
}

.note-container.important {
    background-color: #fffdcb;
}

.note-timestamp {
    color: #ccc;
    text-align: right;
    font-size: 0.8rem;
}